body{
    margin: 0;
    padding: 0;
    background: #06031d;
}

.bday{
    margin-top: 50px;
    text-align: center;
    background: linear-gradient(180deg,#f80112 0%,#2602f5 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    cursor: pointer;
    font-family: bday;
}
.name{
    margin-top: 50px;
    text-align: center;
    background: linear-gradient(180deg,#f80112 0%,#2602f5 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    cursor: pointer;
    font-family: bday;
}
.wrapper{
    position: relative;
    width: 320px;
    margin: 50px auto;
    perspective: 1000px;
    margin-bottom: 500px;
}
.img-area{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(-360deg) translateZ(-300px);
    animation: animate 25s steps(1000,end) infinite;
}
.single-image{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 10px;
    left: 10px;
}
.single-image img{
    width: 300px;
    height: 200px;
    border: 5px solid white;
}
.single-image.image-one{
    transform: rotateY(0deg) translateZ(300px);
}
.single-image.image-two{
    transform: rotateY(60deg) translateZ(300px);
}
.single-image.image-three{
    transform: rotateY(120deg) translateZ(300px);
}
.single-image.image-four{
    transform: rotateY(180deg) translateZ(300px);
}
.single-image.image-five{
    transform: rotateY(2400deg) translateZ(300px);
}
.single-image.image-six{
    transform: rotateY(300deg) translateZ(300px);
}
/* img{
    filter: grayscale(90%);
    transition: 1s;
    cursor: pointer;
}
img:hover{
    transition: 1s;
    filter: grayscale(0);
} */
.card{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #eee;
}
.swing{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float: left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img{
    border: 8px solid white;
    display: block;
}
.swing:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    top: -10px;
    left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
.swing:before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: -15px;
    left: 53%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
section{
    background:linear-gradient(360deg,red,pink);
}
#slider{
    height: 500px;
    width: 500px;
    /* margin-top: 0; */
    /* object-fit: cover; */
}
section .nav li{
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    background: #fff;
    padding: 3px 3px 3px 3px;
    opacity: 0.7;
    transition: 0.2s;
}
section .nav li:hover{
    opacity: 1;
}
section .nav li img{
    width: 170px;
    transition: 0.2s;
}
ul{
    margin-top: 35px;
}
section .nav li img:hover{
    /* opacity: 1; */
    width: 200px;
    height: 200px;
}
section .nav{
    position: relative;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes swing{
    0%{transform: rotate(5deg);}
    100%{transform: rotate(-8deg);}
}
@keyframes animate{
    from{
        transform: rotateY(-360deg);
    }
    to{
        transform: rotateY(0deg);
    }
}
@font-face{
    font-family: bday;
    src: url(bday.ttf);
}